* {
    margin: 0px;
    padding: 0px;
}
.logo-baron {
    align-self: center;
    width: 100px;
    height: 100px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto-header {
    padding-top: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: sans-serif;
    font-size: 30px;
    color: red;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 40px;
}
.menu {
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    
    text-align: center;
}
nav a {
    color: white;
}
a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
aside {
    background-color: red;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
aside p,a {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.aside {
    font-size: 40px;
}
aside a{
    background-color: white;
    border-radius: 20px;
}
footer {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer p {
    text-align: center;
    color: white;
}
article img {
    width: 200px;
    height: 200px;
}
article {
    display: grid;
    grid-template-rows: 33.333333% 33.3333333% 33.33333333%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

#jacksonjs32 {
    grid-column: 1/4;
    grid-row: 1/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#stratyngwie {
    grid-column: 2/4;
    grid-row: 1/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#espeii {
    grid-column: 3/4;
    grid-row: 1/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#ibanezjemjr {
    grid-column: 1/4;
    grid-row: 2/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#gibsonfv70 {
    grid-column: 2/4;
    grid-row: 2/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#cortkx500 {
    grid-column: 3/4;
    grid-row: 2/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#jacksonadrian {
    grid-column: 1/4;
    grid-row: 3/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#lespaulcustom {
    grid-column: 2/4;
    grid-row: 3/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#ironcross {
    grid-column: 3/4;
    grid-row: 3/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#squierstrat {
    grid-column: 1/4;
    grid-row: 4/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#explorerantique {
    grid-column: 2/4;
    grid-row: 4/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}
#jacksonrhoads {
    grid-column: 3/4;
    grid-row: 4/5;
    border: 1px solid black;
    height: 270px;
    width: 250px;
}

