* {
    margin: 0px;
    padding: 0px;
}
.logo-baron {
    align-self: center;
    width: 100px;
    height: 100px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto-header {
    padding-top: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: sans-serif;
    font-size: 30px;
    color: red;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 40px;
}
.menu {
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    
    text-align: center;
}
nav a {
    color: white;
}
a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
aside {
    background-color: red;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
aside p,a {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.aside {
    font-size: 40px;
}
aside a{
    background-color: white;
    border-radius: 20px;
}
footer {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer p {
    text-align: center;
    color: white;
}